#page {
    border: 0;
}
#mainmenu {
    background: 0;
}
#sidebar {
    padding: 20px;
    background-color: #F5F5F5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
}
#content {
    background-color: #F5F5F5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
}
#footer {
    margin-top: 20px;
}
.first {
    margin-left: 0px;
    margin-right: 0px;
}
.span-25 {
    width: 830px;
}
.navbar .navbarBtnSubmit {
    margin-top: -5px;
}
.navbar .navbarBtn {
    margin-right: 25px;
    margin-left: 25px;
    /*margin-top: 4px;*/
}
.navbar .navbarBtnLogout {
    margin-top: 7px;
}
.navbar SELECT {
    margin-top: -5px;
}
.navbar .navbarSelect {
    width: auto;
}
.navbar .navbarItem {
    margin-right: 0px;
    margin-left: 25px;
}
.navbar .navbarUserInfo {
    margin-top: 10px;
}
.pageName {
    margin: 0px 0px 10px 0px;
    font-size: 22px;
    line-height: 22px;
}