#page {
    border: 0;
}
#mainmenu {
    background: 0;
}
#sidebar {
    padding: 20px;
    background-color: #F5F5F5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
}
#content {
    background-color: #F5F5F5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
}
#footer {
    margin-top: 20px;
}
.first {
    margin-left: 0px;
    margin-right: 0px;
}
.span-25 {
    width: 830px;
}
.navbar .navbarBtnSubmit {
    margin-top: -5px;
}
.navbar .navbarBtn {
    margin-right: 25px;
    margin-left: 25px;
    /*margin-top: 4px;*/
}
.navbar .navbarBtnLogout {
    margin-top: 7px;
}
.navbar SELECT {
    margin-top: -5px;
}
.navbar .navbarSelect {
    width: auto;
}
.navbar .navbarItem {
    margin-right: 0px;
    margin-left: 25px;
}
.navbar .navbarUserInfo {
    margin-top: 10px;
}
.nav-pills>li {
    margin-right: 10px;
}
.nav-pills>li.small {
    margin-right: 3px;
}
.nav-pills>li.small.active {
    margin-right: 7px;
}
.nav-pills>li.small>a {
    padding: 4px 8px 4px 8px;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills {
    margin-bottom: 0px;
}
.small {
    margin-bottom: 0px;
}
.list-view {
    padding-top: 0px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    background-color: #F5F5F5;
}
.thumbnail {
    margin-bottom: 5px;
}
.nav-pills>.selected>a, .nav-pills>.selected>a:hover, .nav-pills>.selected>a:focus {
    color: #7f7f7f;
    background-color: #dbdbdb;
}