.cls_collectionName {
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 5px;
}
.cls_thumbnailMedium {
    /*width: 100px;*/
}
.thumbnail {
    /*width: 100px;*/
}
.list-view {
    padding-top: 0px;
}