.pageName {
    margin: 0px 0px 10px 0px;
    font-size: 22px;
    line-height: 22px;
}
.itemThumbnail {
    width: 160px;
    margin: 0px 15px 15px 0px !important;
    /*display: block;*/
}
.itemThumbnail .itemThumbnailImageWrapper {
    width:150px;
    height: 150px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.itemThumbnail .itemThumbnailImageWrapper TD {
    width:150px;
    height: 150px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
.itemThumbnail IMG {
    margin: 0;
}
.itemThumbnail .itemThumbnailName {
    margin: 0px;
    padding: 0px;
}
.itemThumbnail .itemThumbnailAuthor {
    margin: 0px;
    padding: 0px;
    color: #848484;
    font-size: 13px;
}
.itemThumbnail .itemThumbnailResolution {
    margin: 0px;
    padding: 0px;
    color: #848484;
    font-size: 13px;
}
.itemThumbnail .longTextFadeCheckbox {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
}
.itemThumbnail .longTextFadeNoCheckbox {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 145px;
}
.gape {
    height: 20px;
    display: block;
}
.gapeSmall {
    height: 10px;
    display: block;
}
.itemThumbnail .itemThumbnailDescriptionBlock {
    width: 100%;
    vertical-align: middle;
    margin: 5px 0px 0px 0px;
}
.itemThumbnail .itemThumbnailCheckboxBlock {
    width: 15px;
    padding: 0px 0px 0px 5px;
    vertical-align: middle;
}
.itemThumbnail .itemThumbnailCheckboxBlock INPUT[type='checkbox'] {
    margin: 0 auto;
    display: block;
}
.itemThumbnail .itemThumbnailTextBlock {
    padding: 0px 5px 0px 10px;
    vertical-align: middle;
}
.itemList {
    width: auto;
}
.itemList .itemListImageWrapper {
    width:65px;
    height: 65px;
    padding: 0;
    margin: 0;
}
.itemList .itemListImageWrapper TD {
    width:65px;
    height: 65px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
.itemList TD {
    padding:0;
}
.itemList .itemListImageBlock IMG {
    /*width: 65px;*/
    /*height: 65px;*/
}
.itemList .itemListCheckboxBlock {
    padding: 0px 10px 0px 0px;
    vertical-align: middle;
    width: 15px;
}
.itemList .itemListDescriptionBlock {
    padding: 0px 0px 0px 10px;
    vertical-align: middle;
}
.itemList .itemListDescriptionBlock .itemListName {
    margin: 0px 0px 4px 0px;
    line-height: normal;
}
.itemList .itemListDescriptionBlock .itemListData1 {
    color: #848484;
    /*
        нужно для того, чтобы избавиться от пробелов между дочерними элементами,
        которые возникают в результате того, что переход на новую тсроку воспринимается как пробел
    */
    font-size: 0px;
    margin: 0px 0px 4px 0px;
    line-height: normal;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListAuthor {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListResolution {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListCreationPeriod {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListPhotoDate {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListPathToOriginal {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData2 {
    color: #c1a98f;
    /*
        нужно для того, чтобы избавиться от пробелов между дочерними элементами,
        которые возникают в результате того, что переход на новую тсроку воспринимается как пробел
    */
    font-size: 0px;
    margin: 0px;
    line-height: normal;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListInventoryNumber {
    font-size: 12px;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListObjectType {
    font-size: 12px;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListSize {
    font-size: 12px;
    white-space: nowrap;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListDescription {
    font-size: 12px;
    white-space: nowrap;
}
.withBorder {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
}
.entityThumbnail {
    float: left;
    padding: 4px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    /*-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/
}

.entityThumbnail IMG.big {
    width: 250px;
    /*height: 150px;*/
}
.entityThumbnail IMG.medium {
    width: 150px;
    /*height: 150px;*/
}
.entityThumbnail IMG.small {
    width: 65px;
    /*height: 150px;*/
}
.entityDescription {
    float: left;
    margin: 0px 0px 0px 20px;
    width: 420px;
}
.entityDescription2 {
    float: left;
    margin: 0px 0px 0px 20px;
    width: 165px;
}
.clearBoth {
    clear: both;
}
.formButton {
    margin: 0px 15px 0px 0px;
}
.valignedMiddle {
    vertical-align: middle !important;
}
.halignedCenter {
    text-align: center !important;
}
.itemTableAuthor {
    font-size: 13px;
    color: #848484;
}
.itemTableResolution {
    font-size: 13px;
    color: #848484;
}
.itemTableDatePhoto {
     font-size: 13px;
     color: #848484;
 }
.itemTablePhotoType {
    font-size: 13px;
    color: #848484;
}
.itemTableOriginalPath {
    font-size: 13px;
    color: #848484;
}
.itemTableCreationPeriod {
    font-size: 13px;
    color: #848484;
}
.itemTableInventoryNumber {
    font-size: 12px;
    color: #c1a98f;
}
.itemTableObjectType {
    font-size: 12px;
    color: #c1a98f;
}
.itemTableSize {
    font-size: 12px;
    color: #c1a98f;
}
.itemTableDescription {
    font-size: 12px;
    color: #c1a98f;
}
.breadcrumbsAndSectionMenu {
    width: 100%;
    margin: 0px 0px 10px 0px;
}
.breadcrumbsWrapper {
    overflow: hidden;
}
.sectionMenuWrapper {
    float: right;
    margin: 0px 0px 0px 10px;
}
.entitySubname {
    font-size: 0px;
    color: #848484;
}
.subname {
    font-size: 16px;
}
#admin-menu {
    padding: 20px 20px 10px 20px;
    /*background-color: #F5F5F5;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
    margin: 10px 0px 10px 0px;
}
.detailViewNowrap, .detailViewNowrap TD {
    white-space: nowrap;
}
.childrenMenuLevel1Wrapper {
    float: right;
    margin: 0px 0px 0px 20px;
}
.childrenMenuLevel2Wrapper {
    float: right;
    margin: 0px 0px 0px 20px;
}
.childrenMenuLevel3Wrapper {
    float: right;
    margin: 0px 0px 0px 20px;
}
.sidebar2 {
    padding: 20px;
    /*background-color: #F5F5F5;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
    margin: 10px 0px 10px 0px;
}