/***** Layout fix styles *****/
#page {
    border: 0;
}
#mainmenu {
    background: 0;
    margin-bottom: 10px;
}
#sidebar {
    padding: 20px;
    /*background-color: #F5F5F5;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
}
#page-menu {
    padding: 20px;
    /*background-color: #F5F5F5;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
#content {
    /*background-color: #F5F5F5;*/
    background-color: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    behavior: url(PIE.htc);
}
.breadcrumb {
    border: 1px solid #ddd;
    margin: 0;
}
#footer {
    margin-top: 20px;
}
.first {
    margin-left: 0px;
    margin-right: 0px;
}
.span-25 {
    width: 830px;
}
.navbar {
    margin: 0;
}
.navbar .navbarBtnSubmit {
    margin-top: -5px;
}
.navbar .navbarBtn {
    margin-right: 25px;
    margin-left: 25px;
    /*margin-top: 4px;*/
}
.navbar .navbarBtnLogout {
    margin-top: 7px;
}
.navbar SELECT {
    margin-top: -5px;
}
.navbar .navbarSelect {
    width: auto;
}
.navbar .navbarItem {
    margin-right: 0px;
    margin-left: 25px;
}
.navbar .navbarUserInfo {
    margin-top: 10px;
}
.nav-pills>li {
    margin-right: 10px;
}
.nav-pills>li.small {
    margin-right: 3px;
}
.nav-pills>li.small.active {
    margin-right: 7px;
}
.nav-pills>li.small>a {
    padding: 4px 8px 4px 8px;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills {
    margin-bottom: 0px;
}
.small {
    margin-bottom: 0px;
}
.list-view {
    padding-top: 0px;
}
/*.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    background-color: #F5F5F5;
}*/
/*.thumbnail {
    margin-bottom: 5px;
}*/
.nav-pills>.selected>a, .nav-pills>.selected>a:hover, .nav-pills>.selected>a:focus {
    color: #7f7f7f;
    background-color: #dbdbdb;
}
.form-actions {
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.grid-view {
    padding-top: 0px;
}
.nav-pills.nav-stacked>li {
    margin-right: 0px;
}
thead th {
    background: #eeeeee;
}
ul.thumbnails {
    margin-bottom: 0px;
}
/* фикс для плагина jquery file upload, чтобы влезал по ширине в форму */
.files .progress {
    /*width: 200px;*/
    display: none;
}
.fileupload-buttonbar .progress {
    display: none;
}
.nav {
    margin: 0px 0px 10px 0px;
}
.list-view .summary {
    color: #848484;
    font-size: 13px;
}
@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        font-size: 12px !important;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        /*border: 1px solid rgb(221, 221, 221) !important;*/
    }
    h1,h2,h3,h4,h5,h6 {
        font-size: 14px !important;
        font-weight: bold !important;
    }
    a[href]:after {
        content: none !important;
    }
    .thumbnails>li {
        float: left !important;
        margin-bottom: 20px !important;
        /*margin-left: 20px !important;*/
    }
    .table {
        border: 0px !important;
        border-collapse: collapse;
    }
    .table TH {
        font-weight: bold;
        text-align: center !important;
    }
    .entityDescription .table TH, .entityDescription2 .table TH {
        text-align: right !important;
    }
    .table TD {
        font-weight: normal;
        text-align: left !important;
    }
    .table th, .table td {
        border: 1px solid rgb(221, 221, 221) !important;
    }
    .nav-tabs>li.active>a {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
        border-bottom: 1px solid #ffffff !important;
        background: transparent !important;
    }
    .input-xxlarge {
        max-width: 450px;
    }
    .thumbnail {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
}
.table th, .table td {
    line-height: 16px;
    /*padding: 8px;*/
}

/***** Global project styles *****/

.pageName {
    margin: 0px 0px 10px 0px;
    font-size: 22px;
    line-height: 22px;
}
.itemThumbnail {
    width: 160px;
    margin: 0px 15px 15px 0px !important;
    /*display: block;*/
}
.itemThumbnail .itemThumbnailImageWrapper {
    width:150px;
    height: 150px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.itemThumbnail .itemThumbnailImageWrapper TD {
    width:150px;
    height: 150px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
.itemThumbnail IMG {
    margin: 0;
}
.itemThumbnail .itemThumbnailName {
    margin: 0px;
    padding: 0px;
}
.itemThumbnail .itemThumbnailAuthor {
    margin: 0px;
    padding: 0px;
    color: #848484;
    font-size: 13px;
}
.itemThumbnail .itemThumbnailResolution {
    margin: 0px;
    padding: 0px;
    color: #848484;
    font-size: 13px;
}
.itemThumbnail .longTextFadeCheckbox {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
}
.itemThumbnail .longTextFadeNoCheckbox {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 145px;
}
.gape {
    height: 20px;
    display: block;
}
.gapeSmall {
    height: 10px;
    display: block;
}
.itemThumbnail .itemThumbnailDescriptionBlock {
    width: 100%;
    vertical-align: middle;
    margin: 5px 0px 0px 0px;
}
.itemThumbnail .itemThumbnailCheckboxBlock {
    width: 15px;
    padding: 0px 0px 0px 5px;
    vertical-align: middle;
}
.itemThumbnail .itemThumbnailCheckboxBlock INPUT[type='checkbox'] {
    margin: 0 auto;
    display: block;
}
.itemThumbnail .itemThumbnailTextBlock {
    padding: 0px 5px 0px 10px;
    vertical-align: middle;
}
.itemList {
    width: auto;
}
.itemList .itemListImageWrapper {
    width:65px;
    height: 65px;
    padding: 0;
    margin: 0;
}
.itemList .itemListImageWrapper TD {
    width:65px;
    height: 65px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
.itemList TD {
    padding:0;
}
.itemList .itemListImageBlock IMG {
    /*width: 65px;*/
    /*height: 65px;*/
}
.itemList .itemListCheckboxBlock {
    padding: 0px 10px 0px 0px;
    vertical-align: middle;
    text-align: center;
    width: 15px;
}
.itemList .itemListCheckboxBlock input[type="checkbox"] {
    padding: 0;
    margin: 0;
}
.itemList .itemListNumberBlock {
    padding: 0px 10px 0px 0px;
    vertical-align: middle;
}
.itemList .itemListNumberBlock .itemListNumber {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #848484;
}
.itemList .itemListDescriptionBlock {
    padding: 0px 0px 0px 10px;
    vertical-align: middle;
}
.itemList .itemListDescriptionBlock .itemListName {
    margin: 0px 0px 4px 0px;
    line-height: normal;
}
.itemList .itemListDescriptionBlock .itemListData1 {
    color: #848484;
    /*
        нужно для того, чтобы избавиться от пробелов между дочерними элементами,
        которые возникают в результате того, что переход на новую тсроку воспринимается как пробел
    */
    font-size: 0px;
    margin: 0px 0px 4px 0px;
    line-height: normal;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListAuthor {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListResolution {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListCreationPeriod {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListPhotoDate {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData1 .itemListPathToOriginal {
    font-size: 13px;
}
.itemList .itemListDescriptionBlock .itemListData2 {
    color: #c1a98f;
    /*
        нужно для того, чтобы избавиться от пробелов между дочерними элементами,
        которые возникают в результате того, что переход на новую тсроку воспринимается как пробел
    */
    font-size: 0px;
    margin: 0px;
    line-height: normal;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListInventoryNumber {
    font-size: 12px;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListObjectType {
    font-size: 12px;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListSize {
    font-size: 12px;
    white-space: nowrap;
}
.itemList .itemListDescriptionBlock .itemListData2 .itemListDescription {
    font-size: 12px;
    white-space: nowrap;
}
.withBorder {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
}
.entityThumbnail {
    float: left;
    padding: 4px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    /*-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/
}

.entityThumbnail IMG.big {
    width: 250px;
    /*height: 150px;*/
}
.entityThumbnail IMG.medium {
    width: 150px;
    /*height: 150px;*/
}
.entityThumbnail IMG.small {
    width: 65px;
    /*height: 150px;*/
}
.entityInfoContainer .entityThumbnailContainer {
    width: 160px;
    vertical-align: top;
    padding: 0;
}
.entityInfoContainer .entityDescriptionContainer {
    vertical-align: top;
    padding: 0;
}
.entityDescription {
    float: left;
    margin: 0px 0px 0px 20px;
    width: 400px;
}
.entityDescription2 {
    float: left;
    margin: 0px 0px 0px 20px;
    width: 185px;
}
.clearBoth {
    clear: both;
}
.formButton {
    margin: 0px 15px 0px 0px;
}
.valignedMiddle {
    vertical-align: middle !important;
}
.halignedCenter {
    text-align: center !important;
}
.actionsCell {
    width: 37px;
}
.itemTableAuthor {
    font-size: 13px;
    color: #848484;
}
.itemTableResolution {
    font-size: 13px;
    color: #848484;
}
.itemTableDatePhoto {
     font-size: 13px;
     color: #848484;
 }
.itemTablePhotoType {
    font-size: 13px;
    color: #848484;
}
.itemTableOriginalPath {
    font-size: 13px;
    color: #848484;
}
.itemTableCreationPeriod {
    font-size: 13px;
    color: #848484;
}
.itemTableInventoryNumber {
    font-size: 12px;
    color: #c1a98f;
}
.itemTableObjectType {
    font-size: 12px;
    color: #c1a98f;
}
.itemTableSize {
    font-size: 12px;
    color: #c1a98f;
}
.itemTableDescription {
    font-size: 12px;
    color: #c1a98f;
}
.breadcrumbsAndSectionMenu {
    width: 100%;
    margin: 0px 0px 10px 0px;
}
.breadcrumbsWrapper {
    overflow: hidden;
}
.sectionMenuWrapper {
    float: right;
    margin: 0px 0px 0px 10px;
}
.entitySubname {
    font-size: 0px;
    color: #848484;
}
.subname {
    font-size: 16px;
}
#admin-menu {
    padding: 20px 20px 10px 20px;
    /*background-color: #F5F5F5;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
    margin: 10px 0px 10px 0px;
}
/*.detailViewNowrap,*/ .detailViewNowrap TD {
    white-space: nowrap;
}
.childrenMenuLevel1Wrapper {
    float: right;
    margin: 0px 0px 0px 20px;
}
.childrenMenuLevel2Wrapper {
    float: right;
    margin: 0px 0px 0px 20px;
}
.childrenMenuLevel3Wrapper {
    float: right;
    margin: 0px 0px 0px 20px;
}
.sidebar2 {
    padding: 20px;
    /*background-color: #F5F5F5;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    border: 1px solid #ddd;
    margin: 10px 0px 10px 0px;
}